@import url('https://fonts.googleapis.com/css2?family=Borel&family=Handjet:wght@400;800&family=Poppins:wght@300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Poppins';
  src: url('https://fonts.googleapis.com/css2?family=Borel&family=Handjet:wght@400;800&family=Poppins:wght@300&display=swap');
}

.__main-container {
  @apply h-screen w-screen bg-gradient-to-r from-orange-300 to-orange-500
}

.__box-shadow {
  background-color:#FFF;
  padding:20px;
  box-shadow: 0 0 10px #000000;
}

.__calc-mainWrapper {
  @apply bg-[#243441] rounded-b-[15px]  grid grid-cols-4 gap-4 py-4 px-3
}

.customShadow{
  box-shadow: 3px 9px 5px 0px rgba(0,0,0,0.62);
-webkit-box-shadow: 3px 9px 5px 0px rgba(0,0,0,0.62);
-moz-box-shadow: 3px 9px 5px 0px rgba(0,0,0,0.62);
}

.overLine {
  backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: #243441;
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
}

