@tailwind base;
@tailwind components;
@tailwind utilities;

.__main-container {
  @apply h-screen w-screen bg-[#FFB178]
}

.__box-shadow {
  background-color:#FFF;
  padding:20px;
  box-shadow: 0 0 10px #000000;
}

.__calc-mainWrapper {
  @apply bg-[#243441] rounded-b-[15px]  grid grid-cols-4 gap-4 py-4 px-3
}

.customShadow{
  box-shadow: 3px 9px 5px 0px rgba(0,0,0,0.62);
-webkit-box-shadow: 3px 9px 5px 0px rgba(0,0,0,0.62);
-moz-box-shadow: 3px 9px 5px 0px rgba(0,0,0,0.62);
}

.overLine {
  backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: #243441;
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
}

